<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{- '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>

    {% if site.social.links %}
      <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
    {% else %}
      <em class="fst-normal">{{ site.social.name }}</em>.
    {% endif %}

    {% if site.data.locales[include.lang].copyright.brief %}
      <span
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ site.data.locales[include.lang].copyright.verbose }}"
      >
        {{- site.data.locales[include.lang].copyright.brief -}}
      </span>
    {% endif %}
  </p>

  <p>
    <a href="{{ '/despre/' | relative_url }}">Despre</a>
    <span aria-hidden="true"> · </span>
    <a href="{{ '/contact/' | relative_url }}">Contact</a>
    <span aria-hidden="true"> · </span>
    <a href="{{ '/termeni-si-conditii/' | relative_url }}">Termeni</a>
    <span aria-hidden="true"> · </span>
    <a href="{{ '/politica-de-confidentialitate/' | relative_url }}">Confidențialitate</a>
    <span aria-hidden="true"> · </span>
    <a href="{{ '/impressum/' | relative_url }}">Impressum</a>
  </p>
</footer>
